<a href="https://colab.research.google.com/github/Mukund-Bhaskaran/Pose-Network/blob/main/expleo_dec_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What is op of
	for i in range(1,10,3):
		print(i)

In [ ]:
for i in range(1,10,3):
		print(i)

1
4
7

# Suppose, we want to separate the letters of the word "human" and add the letters as items of a list.

In [ ]:
a="human"
b=list(a)
b

['h', 'u', 'm', 'a', 'n']

In [ ]:
c=[i for i in a]
c

['h', 'u', 'm', 'a', 'n']

# We want to test if christy takes fewer than 60 minutes to teach a lesson plan.

In [ ]:
H0:christy time taken>=60 minutes
H1:christy time taken<60 minutes

In [ ]:
students = {1: {'name': 'Steve', 'age': 25, 'marks': 60}, 
 2: {'name': 'Anil', 'age': 23, 'marks': 75}, 
 3: {'name': 'Asha', 'age': 20, 'marks': 70}}

students[2]['name']

'Anil'

# Store addition of elements of two list in one
#	a = [1, 2, 3]
#	b = [7, 8, 9]

In [ ]:
students = {1: {'name': 'Steve', 'age': 25, 'marks': 60}, 
 2: {'name': 'Anil', 'age': 23, 'marks': 75}, 
 3: {'name': 'Asha', 'age': 20, 'marks': 70}}

students[2]['name']

'Anil'

In [ ]:
a=[1,2,3]
b=[7,8,9]
c=[]
c=[i+j for i,j in zip(a,b)]
c

[8, 10, 12]

In [ ]:
list(map(lambda x,y:x+y,a,b))

[8, 10, 12]

# We want to test if college students take less than five years to graduate from college, on the average.

# H0:mu>=5years
# H1:mu<5years

# capitals = {"USA":"Washington D.C.", "France":"Paris", "India":"New Delhi"}
#	How can we access Dictionary Using For Loop

In [ ]:
capitals = {"USA":"Washington D.C.", "France":"Paris", "India":"New Delhi"}
for k in capitals.items():
  print("key",k[0])
  print("value",k[1])

key USA
value Washington D.C.
key France
value Paris
key India
value New Delhi

# how you will extract only keys?

In [ ]:

for k in capitals:
  print("key",k)

key USA
key France
key India

# Create a list which contain numbers divisible by 3 in range(1-20)

In [ ]:
l=[i for i in range(1,20) if i%3==0]
l

[3, 6, 9, 12, 15, 18]

# A medical trial is conducted to test whether or not a new medicine reduces cholesterol by 25%. State the null and alternative hypotheses.

# H0:proportion>=25%
# H1:proportion<25%

# lst=["Pune","Mumbai"]
#	lst1=["x","y","z"]
	
#	How can we get output like 
#	['Pune', 'Mumbai', ['x', 'y', 'z']]

In [ ]:
lst=["Pune","Mumbai"]
lst1=["x","y","z"]
lst.append(lst1)
lst

['Pune', 'Mumbai', ['x', 'y', 'z']]

# Find Even and Odd numbers in the range(1-10)

In [ ]:
for i in range(1,10):
  if(i%2==0):
    print("Even number",i)
  else:
    print("odd number",i)

odd number 1
Even number 2
odd number 3
Even number 4
odd number 5
Even number 6
odd number 7
Even number 8
odd number 9

# How can we get square of list : my_list = [2, 3, 5, 7, 11]

In [ ]:
lst=[2,3,5,7,11]
c=[x*x for x in lst]
c

[4, 9, 25, 49, 121]

In [ ]:
list(map(lambda x:x*x,lst))

[4, 9, 25, 49, 121]

# We want to test whether the mean height of eighth graders is 66 inches.

# H0:mu=66inches
# H1:mu != 66inches

# str = "Hello"
#	str[2:10:2] = ?

In [ ]:
str = "Hello"
str[2:10:2]

'lo'

# str = 'Hello'
#	Reverse the string

In [ ]:
str = 'Hello'
str1=str[::-1]
str1

'olleH'

In [ ]:
import math
print(math.factorial(10))

3628800

In [ ]:
import numpy as np
l=[31,17,56,34,22,5,2,37,17]
np.median(l)

22.0

In [ ]:
s="newmanof india" 
list(s)

['n', 'e', 'w', 'm', 'a', 'n', 'o', 'f', ' ', 'i', 'n', 'd', 'i', 'a']

In [ ]:
dict1={"Name": "John",               
             "Email": "John@gmail.com",
             "phone number": "9876543210"}
dict1.keys()

dict_keys(['Name', 'Email', 'phone number'])

In [ ]:
dict1['phone number']

'9876543210'

In [ ]:
x = [2, 2, 3]
y = [7, 10, 9]
l=[a+b for a,b in zip(x,y)]
l

[9, 12, 12]

In [ ]:
capitals = {"USA":"Washington D.C.", "France":"Paris", "India":"New Delhi"}
capitals.keys()

dict_keys(['USA', 'France', 'India'])

In [ ]:
capitals.values()

dict_values(['Washington D.C.', 'Paris', 'New Delhi'])